Module 6 - Project 6 - Data Analytics Projects

Task 3: Exploratory Data Project

Author: Desiree Blake 

This project will show knowledge of python skill within a juypter notebook using my own personal GoodReads export.

Section 1 - Load DB Goodreads Export CSV

In [12]:
#Import the CSV
import pandas as pd 
goodreads = pd.read_csv('db-goodreads_library_export.csv')

#Setting precision to 2 decimal points and viewing the head of data
pd.set_option('display.precision', 2) 

goodreads.head(5)

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,63844320,"Obsidian Feathers (Fire on the Horizon, #1)",N. Cáceres,"Cáceres, N.",NaN,NaN,NaN,0,4.34,Amazon Digital Services,...,NaN,6/12/2023,currently-reading,currently-reading (#28),currently-reading,NaN,NaN,NaN,1,0
1,63369521,"Revive Me, Part Two: The Affair (New Haven, #3)",J.L. Seegars,"Seegars, J.L.",NaN,NaN,NaN,5,4.47,NaN,...,6/11/2023,6/11/2023,NaN,NaN,read,NaN,NaN,NaN,1,0
2,57505461,Keeper of My Soul: A Ganton Hills Novel,Aubreé Pynn,"Pynn, Aubreé",NaN,NaN,NaN,0,4.61,Reign of Literature Publications,...,6/3/2023,5/28/2023,NaN,NaN,read,NaN,NaN,NaN,1,0
3,59344312,Verity,Colleen Hoover,"Hoover, Colleen",NaN,153872474X,9.78e+12,3,4.35,Grand Central Publishing,...,3/30/2022,3/24/2022,NaN,NaN,read,NaN,NaN,NaN,1,0
4,152387598,Only For The Week,Natasha Bishop,"Bishop, Natasha",Muddled Ink Editorial Co.,NaN,NaN,5,4.74,NaN,...,5/28/2023,5/28/2023,NaN,NaN,read,NaN,NaN,NaN,1,0

Section 2 - Utilizing Statistics

Basic Descriptive Statistics

In [10]:
goodreads.describe()

,Book Id,ISBN13,My Rating,Average Rating,Number of Pages,Year Published,Original Publication Year,My Review,Spoiler,Private Notes,Read Count,Owned Copies
count,2.53e+02,6.40e+01,253.00,253.00,198.00,252.00,139.00,0.0,0.0,0.0,253.00,253.0
mean,5.83e+07,9.78e+12,1.09,4.28,308.09,2020.31,2019.13,NaN,NaN,NaN,0.89,0.0
std,2.28e+07,2.31e+09,1.93,0.44,125.68,3.38,4.38,NaN,NaN,NaN,0.36,0.0
min,1.87e+03,9.78e+12,0.00,0.00,1.00,1999.00,1996.00,NaN,NaN,NaN,0.00,0.0
25%,5.26e+07,9.78e+12,0.00,4.04,232.25,2020.00,2018.00,NaN,NaN,NaN,1.00,0.0
50%,5.82e+07,9.78e+12,0.00,4.35,309.50,2021.00,2021.00,NaN,NaN,NaN,1.00,0.0
75%,6.13e+07,9.78e+12,2.00,4.59,382.25,2022.00,2022.00,NaN,NaN,NaN,1.00,0.0
max,1.52e+08,9.80e+12,5.00,4.85,880.00,2023.00,2023.00,NaN,NaN,NaN,2.00,0.0

In [16]:
# Create Series 
df = pd.read_csv('db-goodreads_library_export.csv')
series1 = df['Bookshelves with positions']
series1.describe()

count                          59
unique                         59
top       currently-reading (#28)
freq                            1
Name: Bookshelves with positions, dtype: object

In [17]:
df = pd.read_csv('db-goodreads_library_export.csv')
series2 = df['Number of Pages']
series2.describe()

count    198.00
mean     308.09
std      125.68
min        1.00
25%      232.25
50%      309.50
75%      382.25
max      880.00
Name: Number of Pages, dtype: float64

Section 3 - Histogram

In [18]:
%matplotlib
histogram = goodreads.hist()

Using matplotlib backend: <object object at 0x000001E6921E1920>